<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>AudioRama Landing Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
    body {
        margin: 5px;
        background: url('https://raw.githubusercontent.com/saijananiganesan/AudioRama/app/app/static/wc1.png');
        background-size: 1440px 800px;

        background-repeat: no-repeat;
        display: compact;
        font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
        opacity=0.5;
    }


    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:visited {
        color: #212529;
        background-color: black;
        border-color: #e47911 font-color:white;
    }

    .logo {
        background-color: #e47911;
        padding: 25px;
        color: white;
    }

    .logo1 {
        background-color: #e47911;
        padding: 25px;

        color: white;
    }

    .container.custom-container {
        padding: 0 100px;
    }


    html,
    h1,
    h2,
    h4,
    h5,
    h6,
    a {
        font-family: "Arial";
        color: black;

    }

    h3 {
        font-family: "Arial";
        color: white;

    }

    .mt-0 {
        margin-top: 20 !important;
    }

    .ml-1 {
        margin-left: ($spacer-x * .25) !important;
    }

    .px-2 {
        padding-left: ($spacer-x * .5) !important;
        padding-right: ($spacer-x * .5) !important;
    }

    .p-3 {
        padding: $spacer-y $spacer-x !important;
    }
    </style>
</head>

<body>
    <header>
        <div class="container-fluid">
            <h1 class='logo1' align='center' class='text-center'><a href={{ url_for('home') }}> AudioRama </a></h1>
            <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav">
                    <li style="font-size: 20px !important;"><a href="/home/">Home</a></li>
                    <li class="active"><a href="/about/" style="font-size: 20px !important;">About</a></li>
                    <li><a href="/application/" style="font-size: 20px !important;">Use Application</a></li>
                    <li><a href="/exp1/" style="font-size: 20px !important;">Explore AudioRama's Database</a></li>
                    <li><a href="/exp2/" style="font-size: 20px !important;">Explore Audible's User Data</a></li>
                    <li><a href="/form/" style="font-size: 20px !important;">Feedback Form</a></li>
                    <li><a href="/contact/" style="font-size: 20px !important;">Contact</a></li>
                </ul>
        </div>
        </nav>
        </div>
    </header>
    <div class="container-fluid">
        <div class="card border-primary mb-3" style="border-color: solid black; margin-top:0px">
            <div class="card-body" style="background-color: white; height: 200rem; margin-right: 0px; margin-left: px;">
                <div class="container">
                    <div class="card border" style="border-color: solid black; margin-top:20px">
                        <div class="card-body" style="background-color: white; height: 200rem;">
                            <p class='lead'>AudioRama is a BERT based audiobook recommendation engine that <b> explicitly accounts for popular narrators</b> to give users a narrator-centric set of recommendations.</p>
                            <p class='lead'> The underlying model behind this application is described below: </p>
                            <ul>
                                <li class='lead'><b>Data</b>: Three gigabytes of audiobook data were extracted/mined from Audible's webpages. These include information about
                                book summary, narrator and author names, genre and sub genres, average ratings, total number of reviews, runtime, user profiles and top 50 reviews for each book.</li>
                               <li class='lead'> <b>Representation</b>: Every book is represented as a vector of words. These words are gathered from all features ranging from book summary to author names. The word vector is subsequently converted to a numeric vector (word embeddings) using the Glove model (to get an initial baseline on accuracy) and BERT. Connections and correlations between different books are obtained from user profiles mined from Audibe. These book connections are represented as a graph, where each book is represented as a node. Two books are connected by an edge if more than one user has favorably reviewed both the books. </li>
                                
                                <li class='lead'><b>Scoring</b>: Recommendations are based on top scoring database entries for a given query (or book). AudioRama uses a weighted scoring function that has two components. The first component is a <b>cosine similarity score</b> betweeen the query and the database entries. The second component is a <b> probabilistic narrator score extracted from narrator-favorable reviews</b>. This probabilistic score will be assigned to each entry in the database. The combined scoring function is a weighted combination of its two components, with weights as hyperparameters. Hyperparameters are chosen to optimize accuracy. </li>
                                
                                <p class='lead'> The scoring function (F) can be written as: </p>
                                                    <div class="container">
                    <div class="card border" style="border-color: solid black; margin-top:20px">
                        <div class="card-body" style="background-color: white; height: 10rem;">

                                <img src="../static/EQ1.png" alt="EQ1" width="95%" height="50%" /> 

                            </div>
                        </div>
                    </div>
                        <p class='lead'> In this first equation, alpha and beta are the weights, x is the query, I corresponds to entry in the database,Sim(x,I) refers to cosine similarity.  </p>

                        <p class='lead'><b>I<sub>narrator</sub></b> is the narrator score and is obtained using the equation below: </p>
                        <div class="container">
                        <div class="card border" style="border-color: solid black; margin-top:20px">
                        <div class="card-body" style="background-color: white; height: 10rem;">

                                <img class="center" src="../static/EQ2.png" alt="EQ2"  width="50%" height="75%" /> 

                            </div>
                        </div>
                    </div>
                        <p class='lead'> In this second equation, P<sub>sc</sub> is a positive sentiment score and can range between 0 and +1, N<sub>sc</sub> is a negative sentiment score and can range between -1 and 0, N<sub>num</sub> is the number of times either the word <i>narrator</i> or the <i>narrator's name</i> is mentioned in the review.</p>

                        <li class='lead'><b>Validation </b>: To validate recommendations, we used infromation extracted about user reviews from Audible. If two books are reviewed favorably by more than one user, we can hypothesize that they share a relationship. This relationship can be represented as an edge in a graph with the books being nodes. We then check if any of the top 10 recommendations is a neighbor (or shares an edge) to the book node that is queried. If it is, it is considered to be a true positive hit and used in accuracy calculation. Refer to the <a href="/exp2/"> user data page </a> form more details. </li>


                        <p class='lead'><b>Shown below are initial results with our baseline similarity model. This model uses Stanford's Glove model and is purely a similarity based model. This model does not account for narrator.</p>
                        <div class="container">
                        <div class="card border" style="border-color: solid black; margin-top:20px">
                        <div class="card-body" style="background-color: white; height: 50rem;">

                                <img class="center" src="../static/acc.png" alt="EQ2"   /> 

                            </div>
                        </div>
                    </div>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="container-fluid">
        <p class="logo1" align='center' class='text-center' style="border: none; margin-top: 10px; margin-right: 0px; margin-left: 0px;">&copy; Copyright 2020, Sai J. Ganesan (ganesans@salilab.org)</p>
    </div>
</footer>

</html>